$color-black: #000000;
$color-dark-gray: #333333;
$color-grey: #3e3f43;
$color-medium-gray: #8d8d8d;
$color-light-gray: #afafaf; 
$color-pale-gray: #e5e5e5;
$color-white: #ffffff;
$color-yellow: #daa520;
$color-light-yellow: #f7dea6;
$color-blue: #a8dcec;
$color-pink: #f9bdbd;